################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Learning-base-python.slnx/FileContentIndex/02c21b8e-8ce5-4e7d-8c96-51f9203c51c2.vsidx

# Игнорируем временную папку настроек Visual Studio
.vs/

# Игнорируем папку, где Python хранит "скомпилированный" код (мусор)
__pycache__/
*.py[cod]

# Игнорируем виртуальное окружение (если оно у тебя будет)
venv/
env/

# Игнорируем файлы настроек пользователя
*.user

